
singularity {
    enabled = true
    autoMounts = true
}

process {
  withLabel: 'rvs'            { container = 'rvs.0.1' }
}

params {
    // Default params
    draw = true
}

profiles {
  // Resource profiles
  local     { includeConfig 'conf/local.config' }
  cluster   { includeConfig 'conf/cluster.config' }
  dynamic   { includeConfig 'conf/dynamic.config' }
  
  // Test profile (Same as default params)
  test {
    params {
      cohorts   = "input/cohorts_input.csv"
      blacklist = "input/blacklist.txt"
    }
  }
}
